body{
    margin: 0;
    padding: 0;
}
.flexible-width{
    height: 500px;
    padding-bottom: 150px;
}

.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.half{
    width: 40%;
    padding: 5%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half h1{
    font-size: 50px;
}
.half h1 span{
    color: orange;
}
.half p{
    color: dimgray;
}
.half a{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half img{
    width: 100%;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Poppins', sans-serif;
}
.experience h2{
    font-size: 40px;
}

.experience #full-stack, #baby-web{
    height: 80%;
    box-shadow: 5px 7px 40px gray;
}
.experience .half{
    width: 35%;
    padding: 5%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web {
	border-left: 7px solid blue;
}

footer p{
    text-align: center;
}